.DS_Store
.vscode
.vs
.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace

Binaries
DerivedDataCache
Intermediate
Saved

Plugins/SimpleWebServer/Binaries
Plugins/SimpleWebServer/DerivedDataCache
Plugins/SimpleWebServer/Intermediate
Plugins/SimpleWebServer/Saved

Plugins/SimpleWebServer/Source/ThirdParty/SimpleWebServerLibrary/include/*.h
Plugins/SimpleWebServer/Source/ThirdParty/SimpleWebServerLibrary/Win64/*.dll
Plugins/SimpleWebServer/Source/ThirdParty/SimpleWebServerLibrary/Win64/*.lib
